[2021-07-15 15:34] ocombe opened #4 "Support Angular 10"

[2021-07-15 15:35] ocombe opened #5 "Support Angular 9"

[2021-07-15 15:35] ocombe opened #6 "Support Angular 8"

[2021-07-16 13:01] ocombe opened #7 "Fix hot reloading"
Hot reloading in bit start doesn't reload the docs & compositions

[2021-07-16 13:03] ocombe opened #8 "Improve docs template"
Create angular components based on bit documenter & harmony base ui to style docs

[2021-07-16 13:04] ocombe opened #9 "Create a template for bit new"
`bit new` creates a new workspace configured with a specific env. We need to add one for Angular.

[2021-07-16 13:05] ocombe opened #10 "Add documentation for Angular on bit.dev harmony docs"

[2021-07-16 13:06] ocombe opened #11 "Automate docs generation"
Use an OSS tool to generate API documentation to integrate into the preview, maybe something like [Compodoc](https://compodoc.github.io)

[2021-07-16 13:07] ocombe opened #12 "Support module federation"

[2021-07-16 13:09] ocombe opened #13 "Simplify usage of external aspects"
We should be able to have a simpler configuration in workspace.jsonc:
- look into existing envs for templates (remove the need to add a config for templates)
- use latest version of an env by default (remove the need to specify a version)

[2021-07-16 13:10] ocombe opened #14 "Support more overrides"
Currently we can set compiler options, but we need to support more overrides.
Also some of the compiler options are set by default, we should be able to override them as well.

[2021-07-16 13:15] ocombe opened #15 "Add actions to test the different versions"
Right now the existing Github action only tests v12, we need to test other versions as well

[2021-07-22 09:21] CodeNameNinja opened #16 "Compositions fail to render"
It seems compositions are failing to render

I am using Angular 12.1.3

[code]

But I get an error when going to bit compositions

"Failed to Render"

[2021-07-22 12:57] ocombe commented on #16
Hello, I'm going to need more than that to figure out what's wrong there, can you provide a repro?
Or at least the content of your workspace.jsonc file

[2021-07-22 14:31] CodeNameNinja commented on #16
@ocombe
 workspace.jsonc file
[code]

[2021-07-22 14:38] ocombe commented on #16
You're missing the versions after `teambit.angular/angular-v12`, it should be `teambit.angular/angular-v12@0.0.15`:

[code]

[2021-07-22 16:03] ocombe commented on #15
Fixed with https://github.com/teambit/bit-angular/commit/a1138af2dc2117801acf541a77a583dfb5aeeb48

[2021-07-22 16:03] #15 closed

[2021-07-23 15:02] #4 closed

[2021-07-27 11:51] ocombe opened #17 "Dependencies crash ng-packagr"
When we add a dependency in the code of an angular library, bit will add it to the "dependencies" in package.json, but ng-packagr will fail:
[code]

We should move those dependencies to `peer-dependencies` instead

[2021-07-27 12:51] #17 closed

[2021-07-28 09:00] #5 closed

[2021-07-28 09:19] CodeNameNinja commented on #16
After doing that, I get the following message
[code]

![image](https://user-images.githubusercontent.com/35192626/127297486-73033911-52ce-4f37-94a0-ba1e5124c964.png)

[2021-07-28 09:55] ocombe commented on #16
You also need to add `"teambit.angular/angular-v12@0.0.15": {},` at the root of your workspace.json file

[2021-07-28 09:56] CodeNameNinja commented on #16
even after adding that again to the root, in workspace.jsonc. I still get this error `Cannot read property 'createCompiler' of null`

[2021-07-28 10:01] ocombe commented on #16
Can you update angular-v12 to "0.0.22" please, then run `bit install` again and retry

[2021-07-28 10:09] CodeNameNinja commented on #16
[code]

[2021-07-28 10:14] ocombe commented on #16
Ah we're getting somewhere, you need to update bit to >0.0.469

[2021-07-28 10:49] CodeNameNinja commented on #16
[code]

[2021-07-28 12:56] #16 closed

[2021-07-28 12:57] ocombe commented on #16
ah yes, never use npm or yarn in a bit workspace, always use `bit install`!
Glad you could figure it out

[2021-07-28 12:59] CodeNameNinja opened #18 "Cannot find module '@angular/material/button/package.json'"
It seems I can't use the modules that Angular Material provides for some reason.

bit version `0.0.469`

[code]

[2021-07-28 13:19] CodeNameNinja commented on #18
@ocombe can you perhaps assist me again, and help me resolve this issue.

[2021-07-29 16:04] #6 closed

[2021-08-09 13:28] #14 closed

[2021-08-17 08:08] ocombe opened #19 "Support Angular v13"
The new alpha release for Angular v13 have been published, we should make sure that we have v13 support as soon as it's released later this year

[2021-08-17 08:10] ocombe opened #20 "Support component.jsonc config files"
For options that are specific to one component, we shouldn't require a new custom env (custom env make sense when they are used for multiple components).
Also custom env are linked to a specific workspace and are not automatically imported when you import a specific component.
This would for example allow users to set specific global scripts and styles for all of the compositions.

[2021-08-17 08:23] ocombe opened #21 "Add new commands"
Leverage Angular CLI commands through bit (things like `generate`, `extract`, ...)

[2021-08-17 08:24] ocombe opened #22 "Create a demo project with an application and bit components"

[2021-08-17 16:03] debs-obrien commented on #10
Docs for Angular have been created and added to new branch of docs. they will need reviewing before going live

[2021-09-15 17:03] felipeHerreraDell opened #23 "bit start receives an error and stops whenever a file is updated"
Hello,

In my environment, I am able to run bit start successfully. However, when I update any file in the project, instead of an active reload, bit throws an error and stops.

error:
![bit_start_error](https://user-images.githubusercontent.com/90787886/133477095-ec62a1eb-ca7d-4e41-8469-042dfc95a1aa.png)

`uncaughtException [Error: EPERM: operation not permitted, lstat 'C:\Users\felie_herrera\Work

[2021-10-12 07:34] stanleyj opened #24 "Any variable change in component ts file doesn't reflect in component html"
Hi @ocombe, Any changes to variable in component ts file doesn't reflect in component html/UI unless some button or dropdows are clicked, This may be issue with change detection, Please help resolve this issue at the earliest

[2021-10-13 09:01] ocombe opened #25 "Add more tests"
Angular v8 was broken in a new project but working in existing tests.
We need to add tests that use the angular env from the capsule to check that it works correctly.

[2021-10-27 13:07] #24 closed, assigned to nobody

[2021-12-01 10:39] IdoMor opened #28 "Bit build fails due to compilation issues"
After executing all steps indicated in the readme file, executing bit build fails on the following error:
 Entry point of type library 'node' specified in compilerOptions

![image](https://user-images.githubusercontent.com/22292278/144218220-62eb84a6-1de8-4e95-9938-09c22b994be8.png)

environment:
node: v12.14.1
npm: 6.13.x
bit version: 0.0.577
bvm version:  0.0.30

[2021-12-01 10:57] IdoMor commented on #28
repreduce also in npm version 8.1.4

[2021-12-01 11:20] ocombe commented on #28
Are you trying to use `npm` to install dependencies ? you should always use `bit install`

[2021-12-01 11:59] IdoMor commented on #28
mope.
folloed the instructions step by step

[2021-12-01 12:04] ocombe commented on #28
does it work if you do `bit install @types/node` ?

[2021-12-01 12:59] IdoMor commented on #28
yes!
We should add this as a default when the package is installed

[2021-12-01 13:13] ocombe commented on #28
yes, I'll do it, thanks for the report

[2021-12-01 15:45] #28 closed

[2021-12-01 18:58] IdoMor opened #29 "Multiple warnings on bit start"
When writing the simplest compositions, multiple warnings appear on the bit start console
![image](https://user-images.githubusercontent.com/22292278/144296535-1a1d04e8-7ccd-41a6-9c3d-821288d7d48c.png)
But the browser console is clear from errors or warnnings:
![image](https://user-images.githubusercontent.com/22292278/144296602-f8731225-52bb-49af-b217-bf3fb6ffc763.png)

[2021-12-02 13:53] ocombe commented on #29
Hello, this looks like an issue with sass-loader and webpack 5.
We use the sass-loader provided by the angular cli, but we also use a more recent version of webpack which seems to lead to this warning.
Is using v13 an option for you? That may solve this issue?

[2021-12-07 08:57] IdoMor opened #30 "bit build fails for lack of typescriot"
When executing bit built ot bit tag, the following error occur:

![image](https://user-images.githubusercontent.com/22292278/144997530-d0088dfe-522e-477d-a4bd-4b5d426275c9.png)

I had tried the following without any luck:
bit install typecript
bit install -u typecript
bit link typecript

bit version: 0.0.577
Angular CLI: 12.2.13
Node: 14.18.2
Package Manager: npm 6.14.15

[2022-01-07 07:28] rishikeshjadhav opened #31 "Error on loading basic button after following steps from documentation"
Getting below error when running command: bit start

![image](https://user-images.githubusercontent.com/17293029/148507882-777159dd-f1b0-4880-9447-7e38e5236bcc.png)

[2022-01-07 07:29] rishikeshjadhav commented on #31
@ocombe @debs-obrien

[2022-01-07 10:01] ocombe commented on #31
I can reproduce, looking at it, thanks

[2022-01-07 12:51] rishikeshjadhav commented on #31
Adding more details as below,
bvm version: **0.0.30**
bit version: **0.0.595**
Angular version: **angular-v13@0.0.6**

Below are the workspace .jsonc contents:

/**
 * this is the main configuration file of your bit workspace.
 * for full documentation, please see: https://harmony-docs.bit.dev/workspace/configurations
 **/ {
  "$schema": "https://static.bit.dev/teambit/schemas/schema.json",
  /**

[2022-01-07 12:52] ocombe commented on #31
I know the cause of the bug, you can use `"teambit.angular/angular-v13@0.0.5"` in the mean time until I release a new version with a fix

[2022-01-07 13:00] #31 closed

[2022-01-07 13:03] rishikeshjadhav commented on #31
@ocombe  Thank you for quick response on this. It worked with "teambit.angular/angular-v13@0.0.5". Looking forward for the fix.

[2022-01-07 13:08] ocombe commented on #31
v0.0.7 has been released with the fix, thanks for the report !

[2022-01-07 13:35] rishikeshjadhav commented on #31
@ocombe  That's awesome!

I have validated with v0.0.7 and it works fine. Thanks again for such quick turnaround on this.

[2022-01-12 09:09] johnjspiteri commented on #30
@IdoMor did you figure this out?

[2022-01-12 09:10] ocombe commented on #30
this should be solved in the latest versions, isn't it? Can you give me a repro @johnjspiteri ?

[2022-01-12 13:02] johnjspiteri commented on #30
@ocombe, was just checking if he needed any help... or to close the issue.

Thank you 👍

[2022-01-12 13:06] ocombe commented on #30
ok, closing it for now, we'll see if it's still a bug or not but I don't think so

[2022-01-12 13:06] #30 closed

[2022-01-12 16:44] rishikeshjadhav opened #32 "Error on loading material components"
Getting below error when material components (<mat-slider>) are added,

![image](https://user-images.githubusercontent.com/17293029/149183795-af8e5795-f073-4afd-a908-59d387c25cbc.png)

[2022-01-12 16:45] rishikeshjadhav commented on #32
Adding more details as below,
**bvm version**: 0.0.30
**bit version**: 0.0.603
**Angular version**: angular-v13@0.0.7

Below are the workspace .jsonc contents:

{
  "$schema": "https://static.bit.dev/teambit/schemas/schema.json",
  "teambit.workspace/workspace": {
    "name": "bit-cd2-ang",
    "icon": "https://static.bit.dev/bit-logo.svg",
    "defaultDirectory": "{scope}/{name}",
    "defaultSco

[2022-01-12 16:46] rishikeshjadhav commented on #32
@ocombe  @debs-obrien

Looks like a similar issue as below,
https://github.com/teambit/bit-angular/issues/31

[2022-01-12 16:48] ocombe commented on #32
Hmm I wonder if the Material module needs to be pre-compiled with ngcc even in v13, I'll do some tests tomorrow

[2022-01-12 16:49] ocombe commented on #32
Can you try to add `@angular/material` to the `peerDependencies` in workspace.jsonc, then remove the capsule (`bit capsule delete --all`) and run `bit install` again

[2022-01-12 17:56] rishikeshjadhav commented on #32
Moved @angular/material to the peerDependencies.
Ran "bit capsule delete --all"
Ran "bit install"

Started to get below errors on bit install

![image](https://user-images.githubusercontent.com/17293029/149195572-3130eab4-a1b6-41cf-ab31-0021652d66a2.png)

Below is the updated workspace .jsonc contents:

{
  "$schema": "https://static.bit.dev/teambit/schemas/schema.json",
  "teambit.workspace/works

[2022-01-12 18:01] rishikeshjadhav commented on #32
Completed above suggested steps,

Moved @angular/material to the peerDependencies.
Ran "bit capsule delete --all"
Ran "bit install"
Ran "bit start"

Still getting same error

[2022-01-13 05:36] rishikeshjadhav commented on #32
@ocombe  Let me know if you find something around this, Thanks.

[2022-01-13 09:07] johnjspiteri opened #33 "Simplified Component Example Not Working With CommonModule"
I am migrating all our internal directives from NPM to Bit.

When I reference [ngClass] from the CommonModule in a template, I am getting an error in the "teambit.preview/preview:GeneratePreview" build task (env "teambit.angular/angular-v13@0.0.7").

Module
[code]

Component Template
[code]

workspace.jsonc
[code]

bit show select/option
[code]

1. bit clear-cache
2. bit install 👍
2. bit compile 👍

[2022-01-13 09:41] ocombe commented on #33
Thanks, trying it now

[2022-01-13 09:59] ocombe commented on #33
I tried it with a new project and it works for me.
A few things that are weird in your `bit show`:  `@angular/core` is marked as a dev dependency, and you have `@angular/forms` as a simple dependency. That shouldn't be the case...
Can you send me a zip of your project files (or a github repo) so that I can check what's going on (without node_modules)?
You can join our community slack if you want,

[2022-01-13 09:59] ocombe commented on #23
That should be fixed now. Let me know if that's not the case.

[2022-01-13 09:59] #23 closed

[2022-01-13 10:00] ocombe commented on #19
Done.

[2022-01-13 10:00] #19 closed

[2022-01-13 10:00] #8 closed

[2022-01-13 10:14] johnjspiteri commented on #33
Thank you for the quick response, appreciate it!

Let me give your directions a try, if I still have issues... would be happy to put together a repo.

Will definitely see you on Slack in the future 👍

[2022-01-13 11:21] johnjspiteri commented on #33
@ocombe, was able to start fresh and get everything working... Thank you.

How does this import in a component work..

[code]

Without importing the "FormsModule" in the parent module of the component?

[2022-01-13 11:21] #33 closed

[2022-01-13 12:45] ocombe commented on #33
Some of the angular modules are loaded in the app that displays the compositions, that includes forms, but you shouldn't rely on it as it would probably break in your app once you import your code.

[2022-01-13 17:22] johnjspiteri commented on #33
Good to know... super work, so happy to start using Bit with our Angular projects. Thank you

[2022-01-14 05:05] rishikeshjadhav commented on #32
UPDATE

Tried below steps with  **Angular version 13**.

**Angular CLI**: 13.1.2

-----------------------------------------------------------------------------

1. Created new angular project - "ng new bit-ng-thirteen"

Below is the dependency list

![image](https://user-images.githubusercontent.com/17293029/149454742-b3252148-c3d3-426d-a894-0b3cdfd43a2b.png)

2. Added material  - "ng add @angular

[2022-01-14 05:10] rishikeshjadhav commented on #32
UPDATE

bvm version: 0.0.30
bit version: 0.0.603
Angular: teambit.angular/angular-v13@0.0.7
Angular CLI: 13.1.2

----------------------------------------

1. Created new angular project - "ng new bit-ng-thirteen"

Below is the dependency list

![image](https://user-images.githubusercontent.com/17293029/149454998-b13c2b68-e68a-4a3b-955b-99511468bd00.png)

2. Added material  - "ng add @angular/mater

[2022-01-14 19:02] rishikeshjadhav opened #34 "Error on running bit compile"
Getting below error on bit compile,

![image](https://user-images.githubusercontent.com/17293029/149570772-ce77bddd-1ea8-4fb2-b007-693c42f4ba33.png)

[2022-01-16 14:43] rishikeshjadhav commented on #32
**UPDATE**

Tried  from sratch on brand new dev boxes with below configurations,

**OS**: Windows 10
**Node version**: 12.22.7
**Angular CLI version**: 11.2.13
**BVM version**: 0.0.34
**Bit version**: 0.0.621

Followed below steps:

OK - bit new ng-workspace checkone -a teambit.angular/angular-v11
OK - bit create ng-module ui/my-button
OK - bit install
OK - bit start

Everything ran correctly and

[2022-01-16 14:45] rishikeshjadhav commented on #32
@ocombe @debs-obrien

Would be great to hear and have some help around this, kind of have hit a dead end here!

[2022-01-17 15:25] ocombe commented on #32
Can you run the new version that I just released ?

[2022-01-17 15:30] rishikeshjadhav commented on #32
Sure, will try with teambit.angular/angular-v13@0.0.8

Shall I follow the same steps that i tried above on 2 DEV boxes?

Let me know if anything additional step is required.

[2022-01-17 15:30] ocombe commented on #32
just change the number in workspace.jsonc and run `bit install`, it should be enough

[2022-01-17 15:32] rishikeshjadhav commented on #32
sure, let me give it a try

[2022-01-17 17:19] rishikeshjadhav commented on #32
I tested with below material components,

Button - SUCCESS
https://material.angular.io/components/button/overview

Badge - SUCCESS
https://material.angular.io/components/badge/overview

Autocomplete - FAILED
https://material.angular.io/components/autocomplete/overview

Error -

![image](https://user-images.githubusercontent.com/17293029/149813356-9be231e3-d3ac-4cfc-ace6-bec49bf414f4.png)

Datepick

[2022-01-17 17:22] rishikeshjadhav commented on #32
@ocombe , here is the solution if you want to give it a try,

https://github.com/rishikeshjadhav/bit-ang-mat

[2022-01-17 20:22] ocombe commented on #32
Hmm, nice catch, I'll take a look at it tomorrow, but that's weird

[2022-01-18 10:38] rishikeshjadhav commented on #32
One observation regarding styling for material components,

When we add material support to any standalone Angular application using below command,

`ng add @angular/material`

It performs certain steps to add prebuilt themes, typography, etc. Refer to below URL

https://material.angular.io/guide/getting-started

How do we configure those steps while adding components using bit?

By default the ma

[2022-01-18 13:23] #32 closed

[2022-01-18 14:00] ocombe commented on #32
I fixed the issue but I can't publish a new version right now due to a bug in bit, I'll let you know when it's available

[2022-01-18 14:06] rishikeshjadhav commented on #32
Sounds Good @ocombe , Looking forward for the new build to try out with complex material components, Thanks!

Also do check out on above observation regarding styling/effects for material components not getting applied by default.

[2022-01-18 14:11] ocombe commented on #32
Ah yes, you can use a custom env and do something like that (obviously adapted to material):
[code]

To generate a custom env, use the command `bit create ng-env <name of env>`, and then use that in your workspace.jsonc for those components.

[2022-01-18 14:13] rishikeshjadhav commented on #32
Sure, I can give this a try.
Can you please point me to some available documentation around custom env that i can refer to?

[2022-01-18 14:17] ocombe commented on #32
https://harmony-docs.bit.dev/building-with-bit/environments/#customizing-environments

or in the new docs (work in progress): https://teambit-community-apps-bit-dev.netlify.app/docs/envs/composing-env

[2022-01-18 14:21] rishikeshjadhav commented on #32
Awesome! Let me give this a try with the basic components which are working currently. Once the new build is available i will the complex components a try as well.

Thanks @ocombe for details around this and looking forward for more exciting Angular integrations. Cheers!

[2022-01-18 15:20] ocombe commented on #32
I have published a new version with the fix

[2022-01-18 15:53] rishikeshjadhav commented on #32
@ocombe

Just wanted to confirm, should i try with **teambit.angular/angular-v13@0.0.8** or **teambit.angular/angular-v13@0.0.9**

teambit.angular/angular-v13@0.0.8 - This was the build version for you last fix.

[2022-01-18 15:53] ocombe commented on #32
0.0.9

[2022-01-18 15:56] rishikeshjadhav commented on #32
Sure, since the .bitmap still shows 0.0.8 for angular-v13

https://github.com/teambit/bit-angular/blob/master/.bitmap

![image](https://user-images.githubusercontent.com/17293029/149972141-18503470-7538-4c45-b1d6-49c464172731.png)

[2022-01-18 16:01] ocombe commented on #32
updated 🙂

[2022-01-20 14:43] rishikeshjadhav commented on #32
Tested with Autocomplete component of material - FAILED

https://material.angular.io/components/autocomplete/overview

----------------------------------------------------------
OS: Windows 10
Node version: 14.18.1
Angular CLI version: 13.1.3
BVM version: 0.0.34
Bit version: 0.0.623
----------------------------------------------------------

Getting below error on bit start,

![image](https://user

[2022-01-20 15:14] ocombe commented on #32
I hope to release this change in the next 2 weeks if I don't hit any roadblock

[2022-01-20 15:19] rishikeshjadhav commented on #32
ok great, Thanks for sharing 🙌

oh and you said `BrowserModule` is indeed included by default...

Similarly if we include 'BrowserAnimationsModule' and 'CommonModule' also by default, i believe this issue should get fixed.

Thoughts? 🤞

[2022-01-20 15:28] rishikeshjadhav commented on #32
May be as below (Just giving it a try)

In below file,

https://github.com/teambit/bit-angular/blob/a65dc6f9732a3f22be62571e7b499cbafb8a0a7f/packages/angular/preview/src/app/app.module.ts

Update

	imports: [BrowserModule, DocsModule],

TO

	imports: [BrowserModule, BrowserAnimationsModule, CommonModule DocsModule],

and adding below 2 import statements on top,

	import { CommonModule } from '@ang

[2022-01-21 13:50] rishikeshjadhav commented on #32
@ocombe , any thoughts on above possible solution? Is it feasible?

[2022-01-31 04:06] rishikeshjadhav commented on #32
@ocombe , just checking on release of next Architecture changes for Angular elements which will fix above issue?

Also, let me know if you got a chance to check on above mentioned possible solution?

[2022-01-31 15:21] ocombe commented on #32
I will release a new version with the `BrowserAnimationsModule` instead of `BrowserModule `. No need to import `CommonModule` since it's already exported by these 2 browser modules
As for the Angular elements change, it's been delayed due to a change in the priority of the features... hopefully not by much

[2022-01-31 15:26] rishikeshjadhav commented on #32
Sounds good, let me know once the new version is available and i will give it a try. Thanks!

Do mention the version number to try with.

[2022-01-31 15:36] ocombe commented on #32
`teambit/angular-v13@0.0.16` has been released with the change.
But be aware of a bug in angular itself right now that will prevent you from compiling / building your files until this is fixed https://github.com/angular/angular-cli/issues/22606 (maybe tomorrow?). You should still be able to run `bit start`. This will only appear if you delete your node modules and run `bit install` again (or if yo

[2022-01-31 15:42] rishikeshjadhav commented on #32
sure, i will give this a try tomorrow morning and update. Thanks for the release!

[2022-02-01 12:21] rishikeshjadhav commented on #32
This is working fine with teambit.angular/angular-v13@0.0.16.

However the default material stylings are not getting applied which are breaking the components.

I will try out the solution that you suggested by creating a custom environment using `bit create ng-env <name of env>`

Will create separate issue in case of any errors in that process.

@ocombe , Thank you for all the help!

[2022-02-01 14:11] rishikeshjadhav opened #35 "Error while running bit compile after creating custom environment"
Steps followed:

`bit new ng-workspace checkone -a teambit.angular/angular-v13`

`bit create ng-module ui/autocomplete`

`bit create ng-env angmatenv`

----------------------------------------

On running `bit compile` getting below error

![image](https://user-images.githubusercontent.com/17293029/151983813-49ee23a2-4c00-4ea4-8505-115487205056.png)

[2022-02-01 14:12] rishikeshjadhav commented on #35
@ocombe  Anything missing in steps here?

[2022-02-01 14:13] rishikeshjadhav commented on #32
@ocombe , can you please check below issue which is occurring while creating custom environment,

https://github.com/teambit/bit-angular/issues/35

[2022-02-01 14:15] ocombe commented on #35
You will need to update your workspace.jsonc to use that custom env:
- add `@teambit/angular-v13` as a dependency
- change `teambit.workspace/variants` to use `angmatenv` instead of `angular-v13`

[2022-02-01 14:23] rishikeshjadhav commented on #35
Sorry but i did not clearly understand that,

Can you help by updating on repository if possible?

Repo:
https://github.com/rishikeshjadhav/angbitenv

Contribute access:
https://github.com/rishikeshjadhav/angbitenv/invitations

[2022-02-01 14:26] ocombe commented on #35
workspace.jsonc should look something like that:
[code]

[2022-02-01 14:30] rishikeshjadhav commented on #35
Let me give this a try. Thanks!

[2022-02-01 14:31] ocombe commented on #35
Also keep in mind that when you change your custom env, you will need to compile it before it actually compiles the component with the new changes, this means either using `bit watch` or running `bit compile` twice

[2022-02-01 14:49] rishikeshjadhav commented on #35
After updating workspace.jsonc as above getting below error, tried bit compile twice as well

![image](https://user-images.githubusercontent.com/17293029/151990781-355a4d32-f6eb-4ef0-b266-197ba09f5d9d.png)

Updated code is available at the repo,
https://github.com/rishikeshjadhav/angbitenv

[2022-02-01 14:57] ocombe commented on #35
it works for me with the current code of your repo, maybe there's some artifact in your `.git/bit` folder? (you can remove it, it will be recreated)

[2022-02-01 15:41] rishikeshjadhav commented on #35
Deleted .git/bit
Ran bit compile

Same error occurred.

Delete node_modules folder
Deleted capsule using bit capsule delete --all
Ran bit install
Ran bit compile

Still same error occurred.

Cloned the repo into new folder
Ran bit install
Ran bit compile

Still same error occurred.

Something strange is happening on my machine. may be something specific to my machine.

@ocombe , did you follow any

[2022-02-01 15:43] ocombe commented on #35
I cloned it, ran `bit install`, then `bit compile`
What do you see with `bit compile --log` ?

[2022-02-01 15:54] rishikeshjadhav commented on #35
So i restarted my machine.

Took fresh clone of repo, ran `bit install`, then `bit compile`, it compiled **without** errors

![image](https://user-images.githubusercontent.com/17293029/152002167-4dd43d66-2d0c-4768-8b5c-bd697e1d3001.png)

Ran `bit compile` again, got below error

![image](https://user-images.githubusercontent.com/17293029/152002334-bca74928-58ce-468d-a36b-34c9d9ba607e.png)

Ran `bi

[2022-02-01 15:56] ocombe commented on #35
Well there you go, `bit install @teambit/toolbox.performance.v8-cache` and it should work. I'll fix the env to have it as a direct dependency

[2022-02-01 16:12] ocombe commented on #35
`teambit/angular-v13@0.0.18` should hopefully fix the issue

[2022-02-01 16:18] rishikeshjadhav commented on #35
Ran `bit install @teambit/toolbox.performance.v8-cache'

Ran `bit compile`

Compiled successfully without errors.

Ran `bit start`

Failed with below error,

![image](https://user-images.githubusercontent.com/17293029/152006910-5ee93496-2bc1-448a-ae94-694ed1249056.png)

[2022-02-01 17:20] ocombe commented on #35
No idea, I'll check tomorrow

[2022-02-02 14:30] rishikeshjadhav commented on #35
Tried from scratch with latest version, `teambit/angular-v13@0.0.19`

`bit new ng-workspace checkone -a teambit.angular/angular-v13`

`bit create ng-module ui/autocomplete`

`bit create ng-env angmatenv`

Updated workspace.jsonc file as per stated in previous comments

Ran `bit compile --log`

Below is detailed error snapshot,

![image](https://user-images.githubusercontent.com/17293029/152173386-

[2022-02-04 14:41] ashishkrtewari commented on #35
@rishikeshjadhav
Can you please also share your workspace.jsonc here?

[2022-02-04 16:10] ashishkrtewari commented on #35
I see that you have not added

[code]
to the dependencies.

I added it and removed
[code]

to make it work for me.

ran these commands
[code]
[code]
[code]

![image](https://user-images.githubusercontent.com/10690564/152562607-95cdd5e4-478e-4122-93d5-37cce341abf8.png)

[2022-02-04 18:12] rishikeshjadhav commented on #35
@ashishkrtewari

I will give this a try tomorrow morning and will run some tests with material UI components.

Will update the ticket, thanks for looking into this!

[2022-02-05 19:28] ashishkrtewari opened #36 "Update readme to add teambit.angular dependency"
### What is the Issue

The readme does not recommend users to add the teambit.angular dependency which results in compilation errors.

Suggested Solution

Add
[code]

to the workspace.jsonc example in readme

[2022-02-07 08:53] ocombe commented on #36
You only need the env as a dependency if you use a custom env, and there will be a new bit command to define an env that will take care of the config for you, so hopefully that should be moot 🙂

[2022-02-08 06:04] rishikeshjadhav commented on #35
Adding` "@teambit/angular-v13": "0.0.19" `dependency has resolved the issue with bit start.

However when i try to add a reference to load material style in custom environment as below,

[code]

On running bit compile --log, getting below error

![image](https://user-images.githubusercontent.com/17293029/152927789-3f97ce04-d1e4-4d57-8bf6-25d5bff35064.png)

I have created a new repository for the s

[2022-02-09 07:03] ashishkrtewari commented on #36
@ocombe
If I just follow the exact steps mentioned in the readme, I face the following error

![image](https://user-images.githubusercontent.com/10690564/153138763-0b815399-a7b1-4740-b2d0-23e54fd4dad5.png)

on running
[code]

Are you able to replicate it?

[2022-02-09 10:01] ocombe commented on #36
No, are you using a custom env ?

[2022-02-09 10:17] ashishkrtewari commented on #36
I found what I was doing wrong,
I missed adding
[code]

Shouldn't this be added by default in the workspace, along with
[code]

[2022-02-09 13:13] ocombe commented on #36
You are totally right, it should be added by default but there's a bug in the workspace generator, I'm fixing it, thanks !

[2022-02-09 13:18] ocombe commented on #36
Actually I just checked and it's added by default.
It's even in the code that you copy pasted just above:
![image](https://user-images.githubusercontent.com/265378/153209109-d7125936-a5c8-4399-bdaf-1d26bb1d8239.png)

[2022-02-09 13:29] ocombe commented on #35
This is an issue with `require.resolve`, it doesn't accept to return paths that are explicitly not available in the exports, but only *if the package is ESM*.
The best alternative I think is to create your own scss file that will import the angular material theme file. The scss loader should not be subject to this limitation.
You could also search for an alternative to require.resolve that doesn't

[2022-02-09 13:48] ashishkrtewari commented on #36
Let me check then what was the issue again.

[2022-02-09 15:25] #36 closed

[2022-02-16 16:11] ccreusat opened #38 "How to handle multiple compositions for the same component ?"
Hi !

- First, I'm struggling to create multiple compositions for the same component with Angular.

- Then, I can't figure how to pass my Input/Ouput with compositions:

-> passing [name]="test" is crashing

[code]

The composition file:
[code]

Thanks

[2022-02-16 16:14] ocombe commented on #38
It makes sense, you need the test property on your composition component (just like the error message is explaining), something like:
[code]

And if you want to make multiple compositions, just create multiple compositions files

[2022-02-16 16:32] ccreusat commented on #38
It makes sense, indeed :-)

Thank you @ocombe

[2022-02-16 16:32] #38 closed

[2022-02-23 08:38] abhi9bakshi opened #39 "Module not found: Error: Can't resolve 'html-loader'"
I followed the steps in [https://github.com/teambit/bit-angular](https://github.com/teambit/bit-angular) as is and got the error on running `bit start` after creating `ui/my-button`. Running `bit start` directly after `bit new ng-workspace` doesn't throw error.

`Module not found: Error: Can't resolve 'html-loader' in '/home/abhi9/Library/Caches/Bit/capsules/4449ca0ffbd1bf94b513919b0aa94c2a37e76f6

[2022-02-23 21:01] AntGrisha commented on #39
same issue with node v12.22 and angular v10

[2022-02-23 21:38] AntGrisha commented on #39
@abhi9bakshi I've fixed it by doing the following steps:
1. Clear cache created by `bit`, I mean this folder in your case `/home/abhi9/Library/Caches/Bit/capsules/4449ca0ffbd1bf94b513919b0aa94c2a37e76f6e`
2. update your peer deps in `workplace.jsonrc`:
`
      "peerDependencies": { ... ,
        "html-loader": "1.3.2",
        "remark-loader": "2.0.0"
      }
`
3. run `bit install`
4. run `bit sta

[2022-02-24 03:45] abhi9bakshi commented on #39
Works like a charm, thanks :)

[2022-02-24 03:45] #39 closed

[2022-03-02 17:35] johnjspiteri opened #40 "Composition Preview React Errors With Barebones Setup"
Hi @ocombe ,

I have been having different issues with our isolated  Bit packages, so I decided to start with a barebones setup.

Ran these commands:
[code]
Got these errors... then ran (and deleted the ".git/bit" folder):
[code]

[code]

Here is the reproduction repo - https://github.com/johnjspiteri/bit-angular-test-v13.22

Thank you

[2022-04-21 00:38] MauricioMCosta opened #42 "support for "prefix" when generating angular modules"
The current state of generation of components doesn't care about prefixes. If you specify for example a component with name *my-label* it will generate files **my-label.component.[scss,ts]** along with composition, module and spec.

my request is to add support for a parameter *--prefix* or any override in workspace.jsonc for the angular aspect, letting the specification of a custom prefix.

so is

[2022-06-13 18:41] blairjanis opened #43 "Error on bit tag command"
I'm trying to figure out how to get my angular component to export to my scope on bit.dev.  From what I understand I need to run the tag command:

```bit tag my-button --message "first publish"```

It runs for a while and then I get this error:

[code]

I'm new to bit and am not very familiar with the workflow so I'm not sure what information will help track down what could be producing this error

[2022-06-14 11:16] ocombe commented on #43
Hello, thanks for the report. It looks like it's a dependency of a dependency that went missing after a change, I'll investigate to figure out where that's missing and publish a fix.

[2022-06-14 13:57] GiladShoham commented on #43
should be resolved by - https://github.com/teambit/bit/pull/5968

[2022-06-14 18:42] blairjanis opened #44 "Documentation help"
As a newbie to bit I'm struggling to get a particular use case working and I haven't found the documentation on this newer bit-angular release to be very helpful.  I'm sure that's on me ... not the documentation.  I'm still wrapping my head around this but I think it's the right technology for my particular use case.  Which is essentially to create angular apps that I can deploy through bit into s

[2022-06-15 08:06] GiladShoham commented on #43
please check with bit 0.0.763 (or higher) and re-open if it still happen

[2022-06-15 08:06] #43 closed

[2022-06-21 12:36] v4ssi404 opened #45 "Build/Snap error @angular/compiler-cli/ngcc"
Hello,

i am having trouble to build/snap a component.

[code]

Here is my `package.json`, i deleted `node_modules` and `package-lock.json` and reinstalled all dep to be sure that i have all versions to `13.2.6`

[code]

Any hint? ty

[2022-06-21 14:06] ocombe commented on #45
Did you switch from pnpm to yarn at some point ? If so, you need to delete both the node modules and the aspect's root capsule (you can find its location with `bit capsule list`)

[2022-06-21 14:19] sviluppo commented on #45
No i didn't.
It's my first use of Bit, and i am doing the first setup into an already working project.

The command response is this one:

[code]

[2022-06-21 14:50] ocombe commented on #45
oh so your current project already has node modules installed with npm ?

[2022-06-22 07:15] sviluppo commented on #45
Yes as you can see i am also not using `bit install` but i have added `"postinstall": "bit compile && bit link"` to my `package.json`

[2022-06-22 09:01] ocombe commented on #45
Then this is why it is not working. In a bit workspace you need to use `bit install` because we install dependencies in a very specific way.
If you have dependencies in your package.json they will also be installed when you run `bit install`

[2022-06-22 09:10] sviluppo commented on #45
I deleted again `package-lock.json` and also `node_modules` dir, i removed `"postinstall": "bit compile && bit link"` and i have now used `bit install`.
Same error but now i have a `pnpm-lock.yaml` file.

[2022-06-22 12:14] ocombe commented on #45
Ok so there are a few things that can cause these issues:
- you should use yarn as a package manager for bit, instead of pnpm which doesn't work well with some angular packages right now (we are working on a fix)
- you have dependencies in your package.json which will probably create issues with bit angular: angular/cli and angular/compiler-cli

The easiest way to make all of that work is to start

[2022-06-30 19:19] gmichael27 opened #46 "Custom env has unresolved ramda dependencies"
Following this guide, we've set up an Angular workspace out-of-the-box:
https://bit.cloud/teambit/angular/angular

[code]
= everything OK! =

Most of the components we want to add to Bit have already been developed in Angular Material. Unfortunately, installation of it is not as simple as basic dependencies; the `ng add` schematic does some other behind-the-scenes work and must be run in an Angula

[2022-07-01 12:57] jkeczan commented on #46
We are also seeing the same issue, following the same git issue @gmichael27 listed above. Additionally, We have tried targeting specific angular versions with -v13/v12 with no success either.

[2022-07-01 13:33] ocombe commented on #46
Hello, if I remember correctly @GiladShoham fixed the ramda issue in react ui docs app a month ago, so this shouldn't appear anymore (as it's not longer used at all).
Just to be sure, I've bumped the version of the dependency on react.ui.docs-app to the latest version and I've released new versions of all envs, can you update and check if it fixes the issue for you now?

[2022-07-01 15:59] jkeczan commented on #46
That did it.

Ramda and angular were shown as changed when I ran ```bit update``` and everything started without issue.

Thank you for your response

[2022-07-05 15:42] gmichael27 commented on #46
Thanks @ocombe, that did resolve the errors on startup and things boot up fine now.

I did want to mention one issue I'm seeing that seems like it may be related, since you mentioned `react.ui.docs-app`. The code blocks out-of-the-box don't seem to have syntax highlighting when using the custom ENV. Here are screenshots of what I mean: when creating a new ng-workspace / ng-module and starting the

[2022-07-05 20:41] gmichael27 opened #47 "Angular Material + custom env dependency errors"
## Background

Hey all - our goal has been to set up an Angular components library using Bit. We've been having issues getting anything up-and-running, most likely because our existing components we want to pull in are built completely in [Angular Material's](https://material.angular.io/) design system and we're having trouble getting it to play nice.

The [installation guide](https://material.ang

[2022-07-05 20:43] gmichael27 commented on #44
Hey - I unfortunately cannot help with this, as we are having trouble using Material on its own. I was wondering if you could offer any advice on how you got Angular Material working with Bit; we've listed a pretty thorough process here and are not sure what we're missing. Thanks for your time.

https://github.com/teambit/bit-angular/issues/47

[2022-07-06 08:31] ocombe commented on #47
Hello, thank you for your report and the detailed breakdown. I was able to reproduce the issue and I think know what's causing it. I will be working on a fix, but for now you can just fix it for you if you go to your custom env and remove this line:
[code]

Then run `bit compile` and after that `bit start` should work.

[2022-07-06 08:34] ocombe commented on #46
Interesting, I never noticed that, thanks

[2022-07-06 09:20] #47 closed

[2022-07-06 09:46] ocombe commented on #47
Fixed in v1.1.8 of the angular env.

[2022-07-06 13:04] jkeczan commented on #47
might be one of the best breakdowns of an issue I have ever seen....thanks @gmichael27

[2022-07-06 14:40] gmichael27 commented on #47
Thanks @ocombe - `bit update` updated our `dependencies` version of `@teambit/angular` to `1.1.8` and did fix the dependency errors on startup. I did want to point out/ask if that should be expected to also update the version of the  `"teambit.angular/angular@1.1.8": {}` (env?) line; ours remained at 1.1.7 after update so we incremented manually.

We do continue to encounter problems using Angular

[2022-07-06 16:34] gmichael27 commented on #47
I also - intermittently at first, but constantly now - get this on running `bit start`. I can share more info/possibly full repo if needed, only a few things have changed since my last post (trying to also have components that do NOT use the custom env to compare against). I've deleted the directory, re-cloned and encounter this now.

This appears regardless of if I've commented out the `useAngula

[2022-08-08 03:32] staizen-jose-macalla opened #48 "Error on rendering compositions for angular environment"
I followed thru how I can set up and angular environment from your docs, made a very simple component with no dependencies.

When I tried to run the local environment to check it thru `bit start`

It shows me the page but i am getting an error which seems like it's coming from you:

![VirtualBoxVM_pt4JkkwbJg](https://user-images.githubusercontent.com/84562204/183331767-d4b1a80c-ff4c-4a6f-90b7-30a2

[2022-08-10 21:16] AntGrisha opened #49 "Cannot read properties of undefined (reading 'aspectPath') when extending angular12 env"
Hello,
I am trying to extend angularV12 env and create my own custom environment.
The following code works fine with bit v0.0.748 when running `bit start`
[code]

However it throws the following error with bit v0.0.814 when I run `bit start`
<img width="1129" alt="Screenshot 2022-08-11 at 00 12 46" src="https://user-images.githubusercontent.com/17514271/184021161-21580961-af6b-41dd-9f13-0b507bf402

[2022-08-22 09:28] ocombe commented on #48
Hello, can you give me a zip file with the files to reproduce the issue ? (don't zip the node modules in it)

[2022-08-22 11:44] GiladShoham commented on #49
Hi,
I solved this a few days ago.
Can you please try with the latest bit version and let me know if it still happens?

[2022-08-30 12:46] AntGrisha commented on #49
@GiladShoham works fine in `0.0.832`, thank you for the fix!

[2022-08-30 12:46] #49 closed

[2022-09-01 07:47] staizen-jose-macalla opened #50 "DataToPersists expects component to be relative but found absolute"
Environment:

- Ubuntu 22.04
- Bit version 0.0.833 (latest)

Tried on several angular versions:

-  `angular@1.2.5`
-  `angular@1.2.1`

`bit status` result:
![image](https://user-images.githubusercontent.com/84562204/187860433-bc43f85f-e8e3-4d53-bd07-c79dbc593570.png)

when i do `bit tag` i get this error which blocks tagging of the modules:

![image](https://user-images.githubusercontent.com/8456

[2022-09-01 09:45] ocombe commented on #50
Hello, can you try v1.2.8 ? (don't forget to remove the current capsule before you reinstall, with `bit capsule delete --all`)

[2022-09-01 10:55] sviluppo commented on #50
I have the same problem with v1.1.10.
I tried to removing capsule with your command and also with `bit capsule delete --all` but now i get

[code]

[2022-09-01 13:42] ocombe commented on #50
I assume that you ran `bit install` after deleting the capsule @sviluppo ?

[2022-09-01 13:49] sviluppo commented on #50
Yes pretty sure.

I downgraded to `0.0.825` and upgraded again to the latest version.
I am not able anymore to launch `bit capsule delete --scope-aspects` because i get `Cannot find module './internal/_complement'...etc`

[2022-09-02 01:04] staizen-jose-macalla commented on #50
After doing the `bit capsule delete --scope-aspects` then `bit install`
i am now getting this error when i do `bit compile`

![image](https://user-images.githubusercontent.com/84562204/188037334-52619275-6483-4c54-b851-6fa483edd06a.png)

[2022-09-02 01:32] staizen-jose-macalla commented on #50
when i also tried to downgrade to `bit 0.0.814` it is giving me this error when i do `bit install`

angular version:
- v1.2.1
- v1.2.5
- v1.2.8

![image](https://user-images.githubusercontent.com/84562204/188039951-cc0b03a6-4d2a-4400-9936-57284790383a.png)

[2022-09-07 07:18] staizen-jose-macalla opened #51 "ENOENT: no such file or directory"
Environment:
- Ubuntu 22.04
- VSCode
- Bit version 0.0.846

![image](https://user-images.githubusercontent.com/84562204/188813596-d9781058-fa6c-4110-9bc5-3014770360a0.png)

Error:

![image](https://user-images.githubusercontent.com/84562204/188813705-a9f122e5-5a59-4975-82c0-eb689727f5ab.png)

Steps:

1. `bit capsule delete --all`
2. removed `node_modules`
3. `bit install`
4.  `bit compile`
5.  `bi

[2022-09-15 08:48] AntGrisha opened #52 "Cannot tag/build component when importing nested bit components"
Hello, thought it is probably related to bit-angular env, so writing here, instead of main `bit` repo.

### Describe the bug
I have 3 angular bit components: `spinner`, `n-button`, `n-user-verification`.
When I am using `spinner` inside `n-button` components are tagged successfully.
But when I am trying to tag `n-user-verification` which uses `n-button` I see the following error:
`Appears in the N

[2022-09-16 09:53] leoDEVa commented on #52
Please see the link below to our dedicated support line:

Support :[Harmony Live Support](https://devharmony.support/I/-/index.html)

Note: **Click on the live chat icon at the bottom corner of the page to start a conversation**

[2022-10-07 10:02] AntGrisha commented on #51
same issue using bit 0.0.867 and angular 1.2.13
bit start works fine though

[2022-10-07 10:19] AntGrisha commented on #51
So I fixed it on my side.
My issue was related to the fact that `bit compile` did not copy `.scss` files in subfolder. I had to add `index.ts` and import it into `public-api.ts` file.
<img width="290" alt="Screenshot 2022-10-07 at 16 18 18" src="https://user-images.githubusercontent.com/17514271/194531712-dd12aa64-cc82-467c-9a8f-9c3da1d3f2f3.png">

[2022-10-10 10:45] AntGrisha commented on #52
updated bit to `0.0.867` version and teambit.angular/versions/angular-v12 to `1.2.13`, issue still reproduces

[2022-10-21 09:14] staizen-frankie opened #53 "Cannot build/tag dependent components with v13"
Hello, there seems to be an issue with tagging when there is multiple components that depends on each other in the same workspace.

## Envrionment:
[code]

## Steps to reproduce:
- use `bit create ng-module card`
- use `bit create ng-module profile`
- import card component into profile
[code]
- bit tag/build failed with FatalDiagnosticError on profile component

## Error:
![Screenshot 2022-10-21 a

[2022-11-10 08:39] ocombe commented on #53
Hello, this should be resolved with the last version (1.2.18), let me know if you still have the issue.

[2022-11-10 08:39] #53 closed